<div class = "panel panel-primary">
        <div class = "panel-heading">
            {{pageTitle}}
        </div>
        <div class='row'>
                <div class="col-md-6" style="padding-left: 20px"><h5>The coupon management system allows companies to produce coupons as part of advertising campaigns and marketing that they maintain.</h5>
                <h5>The system also has registered customers. Customers can purchase coupons. Coupons are limited in quantity and validity. A customer is limited to one coupon of each type.</h5>
                <h5> The system records the coupons purchased by each customer. The system's revenues are from the purchase of coupons by registered customers and the creation and updating of new coupons by companies.</h5>
                <h5> Access to the system is divided into 3 types of customers:<br><br>

                        Administrator - Manager of a list of companies and customers <br>
                        Company - Manage a list of coupons associated with the company<br>
                        Customer - Purchaser of coupons</h5>
            </div>
            </div>
        
    </div>